.itemDetail-miniImages{
    filter: grayscale(1);
    transition: all .5s ease-in-out;
}

.itemDetail-miniImages:hover{
    filter: grayscale(0);
}

.react-icons{
    color: #d69c4f;
    font-size: 1.5em;
    transition: all .5s ease-in-out;
    z-index:100;
    position: relative;
}

.btn-detalles:hover .btn-react-icons{
    color: #101010;
}

.btn-react-opt{
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .5s ease-in-out;
}

.btn-back,.btn-addFav,.btn-addCart{
    transition: all .5s ease-in-out;
    color: transparent;
    letter-spacing: 1.5px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.btn-react-opt:hover .btn-back{
    color: #101010;
    transform: translateX(50%);
}
.btn-react-opt:hover .btn-addFav{
    color: #101010;
    transform: translateX(50%);
}
.btn-react-opt:hover .btn-addCart{
    color: #101010;
    transform: translateX(50%);
}
.btn-react-opt:hover .btn-react-icons{
    animation: react-icons-dance .5s linear infinite alternate;
    transform: translateX(-100%);
}

@keyframes react-icons-dance {
    0%{
        transform: translateY(5%);
    }
    100%{
        transform: translateY(-5%);
    }
}